* text=auto

# force text
*.html text
*.js text
*.css text
*.php text
*.json text
*.xml text
*.xslt text

# binary files
*.pgn -text
*.jpg -text
*.gif -text

# diff
*.html diff=html
*.css diff=css
*.php diff=php
*.xml diff=html
*.xslt diff=html
